.title{
    color:black;
}
.login-form{
    margin-left:800px;
    width: 100%; 
    max-width: 400px; 
    padding: 20px;
    margin: 10px auto; 
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-right: 100px;
}

@media (min-width: 576px) {
    .login-form {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .login-form {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .login-form {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    .login-form {
        max-width: 700px;
    }
}
